*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    font-family:"Bitcount Prop Double Ink",Arial, Helvetica, sans-serif;
    background-color: black
}

h1 {
    color:#ffffff;
    line-height: 1.1;
    letter-spacing: normal;
    word-spacing: normal
}
p {
    color:#ffffff;
}

h1 {
    color: #ffffff;
    text-align:center;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold;
    font-style: italic
}

td {
    color:white;
    max-width: 750px
}

tr {
    color:white
}

.center {
    margin-left: auto;
    margin-right: auto
}

label {
    color:white
}

iframe {
    display: block;
    margin: auto
}

.banner {
    background-color: crimson;
    background-size: contain;
    background-repeat: no-repeat;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    
    width: 80%;
    padding: 16px;
    margin: 12px
}

.img-right {
    float: right;
    margin-left:20px
}

.img-left {
    float: left;
    margin-right: 20px
}

.section-left {
    align-content: left;
    max-width:1000px;
}

.section-right {
    align-content: right;
    max-width: 1000px;
    margin-left:auto;
}

.text-left {
    display:table;
    height:266px
}

.text-left p {
    vertical-align: middle;
    display:table-cell;
}

.text-right {
    display: table;
    height:266px
}

.text-right p {
    vertical-align: middle;
    display:table-cell;
}

.links {
    text-align: center
}

.img-table {
    float: right;
    margin: auto;
    padding: 20px
}

.table-data {
    float:left
}

.table {
    display: inline-block;
    margin: auto;
    padding: 20px
}

.form {
    text-align: center
}

.paragraph1 {
    display: table;
    max-width: 750px;
    float: left;
}

.paragraph2 {
    display: table;
    max-width: 750px;
    float: right;
}